body {
  font-family: "Montserrat";
}

.card-header {
  background-color: #F8B195;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.carousel-item {
  padding: 7% 15%;
}

.colored-section {
  background-color: #ff4c68;
  color: #ffff;
}

.white-section {
  background-color: white;
}

/* Button */
.download-button {
  margin: 3% 5% 5% 0;
}

/* Features Section */
#features {
  padding: 7% 10%;
  position: relative;
  z-index: 1;
}

.features-box {
  text-align: center;
  padding: 0.5%;
}

.features-icon {
  color: #ef8172;
}

.features-icon:hover {
  color: #ff4c68;
}

#footer {
  text-align: center;
  padding: 5rem 12.5rem 4rem;
  line-height: 2.5;
  font-size: 1.5rem;
}

.footer-icon {
  letter-spacing: 0.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  padding-top: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.cta-title {
  font-size: 3rem;
  padding-bottom: 4rem;
}

#cta {
  padding: 3rem 12.5rem 7rem;
  text-align: center;
}

/* NAVBAR */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding-right: 2rem;
  /* font-family:"Montserrat"; */
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 3rem;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  /* text-align: center; */
}

/* Press Section */
#press {
  text-align: center;
  padding: 7% 15% 4%;
  background-color: #ef8172;
}

.press-logo {
  width: 20%;
  margin: 1.25rem 1.25rem 2.2rem;
}

/* Pricing Section */
#pricing {
  padding: 6.5rem;
  text-align: center;
}

.pricing-container {
  padding: 3% 2.5%;
}

/* IMages */
.rotated {
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
}

.testimonials-image {
  width: 20%;
  border-radius: 100%;
  margin: 1.25rem;
}

/* Title Section */
#title {
  padding-bottom: 2.5rem;
}

@media (max-width:1000px) {
  #title {
    text-align: center;
  }

  .rotated {
    width: 60%;
    transform: rotate(0);
    position: static;
  }
}
